:root {
  --text: #171717;
  --text-h: #171717;
  --wbg: #8a8a8a;
  --opp: #d5d5d5;
  --bg: #ebebeb;
  --border: #ff8447;
  --code-bg: #ebebeb;
  --accent: #ff8447;
  --accent-bg: #ff844725;
  --accent-border: #ff84477b;
  --social-bg: #231F20;
  --special: #ff8447;
  --white: #ebebeb;
  --true-white: #ffffff;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "IBM Plex Sans", system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: "IBM Plex Sans", system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* #F36A24 */

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ebebeb;
    --text-h: #ebebeb;
    --wbg: #8a8a8a;
    --opp: #c2c2c2;
    --bg: #171717;
    --border: #3e3e3e;
    --code-bg: #171717;
    --accent: #2b2b2b;
    --accent-bg: #3e3e3e25;
    --accent-border: #3e3e3e7b;
    --social-bg: #231F20;
    --special: #F36A24;
    --black: #171717;
    --white: #ebebeb;
    --true-white: #ffffff;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

:root[data-theme='dark'] {
  --text: #ebebeb;
  --text-h: #ebebeb;
  --wbg: #8a8a8a;
  --opp: #c2c2c2;
  --bg: #171717;
  --border: #3e3e3e;
  --code-bg: #171717;
  --accent: #2b2b2b;
  --accent-bg: #3e3e3e25;
  --accent-border: #3e3e3e7b;
  --social-bg: #231F20;
  --special: #F36A24;
  --black: #171717;
  --white: #ebebeb;
  --true-white: #ffffff;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

:root[data-theme='light'] {
  --text: #171717;
  --text-h: #171717;
  --wbg: #8a8a8a;
  --opp: #d5d5d5;
  --bg: #ebebeb;
  --border: #ff8447;
  --code-bg: #ebebeb;
  --accent: #ff8447;
  --accent-bg: #ff844725;
  --accent-border: #ff84477b;
  --social-bg: #231F20;
  --special: #ff8447;
  --black: #171717;
  --white: #ebebeb;
  --true-white: #ffffff;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
